.gradient-text {
      background: linear-gradient(to right, #0c7ff2, #3a9ef7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      a{
        text-decoration:none;
      }
    }
    .hero-image-container {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2), 0 0 0 16px rgba(255, 255, 255, 0.1);
    }